.footer {
  display: flex;

  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: baseline;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;
    }
  }
}

.footer__logo-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  & .logo__icon {
    color: var(--primary-white-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  @media screen and (min-width: 1200px) {
    display: inline-block;
  }
}
.footer__adress {
  margin-top: 20px;
  margin-bottom: 9px;
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
}
.footer__contact-list .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  & .link:hover,
  & .link:focus {
    color: var(--accent-color);
  }
}
.footer__mail {
  margin-bottom: 9px;
}

.footer__social-section {
  margin-top: 60px;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 70px;
  }
}

.footer__modal-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__social-list {
  display: flex;
}
.footer__social-item:not(:first-child) {
  margin-left: 10px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  fill: var(--primary-white-color);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--cubic-bezier);
  width: 44px;
  height: 44px;
  border-radius: 50%;

  &:hover,
  &:focus {
    fill: var(--primary-white-color);
    background-color: var(--accent-color);
  }
}

.footer__social-icon {
  width: 20px;
  height: 20px;
}

.footer__subscription-request {
  margin-top: 60px;
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    margin-top: 0;
  }
}

.footer__modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

// .footer__communication-window {
//   @media screen and (min-width: 1200px) {
//     margin-right: 12px;
//   }
// }

.fotter__post-mail {
  width: 350px;
  margin-bottom: 20px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  vertical-align: middle;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: var(--primary-white-color);

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.footer__submit-btn {
  position: relative;
  vertical-align: middle;
  padding: 10px 29px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);
  border-radius: 4px;
  border: 0;
  transition: background-color 250ms var(--cubic-bezier),
    color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);
}

.footer__btn-icon {
  vertical-align: middle;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
