h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.link {
  text-decoration: none;
  transition: color 250ms var(--cubic-bezier), fill 250ms var(--cubic-bezier);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
